{% extends 'templates/web/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Nuestros Productos</h2>
    
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <!-- Imagen de producto ajustada con la clase img-fluid para mayor responsividad -->
                    <img src="{{ Producto.imagen.url }}" class="card-img-top" alt="{{ producto.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.title }}</h5>
                        <!-- Eliminada la línea de descripción, manteniendo solo el precio -->
                        <p class="card-text"><strong>Precio:</strong> ${{ producto.price }}</p>
                        <!-- Enlace a los detalles del producto -->
                        <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-primary">Ver Detalles</a>
                        <!-- Formulario para agregar al carrito -->
                        <form action="{% url 'agregar_al_carrito' producto.id %}" method="POST" class="mt-3">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Agregar al Carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
